<div appDrawingConnections>
    @defer() {
    <div class="content">
        @for(type of types(); track type.id) {
        <app-type [typeContent]="type" [instaceId]="type.instanceId" [id]="type.instanceId" cdkDrag (cdkDragMoved)="recalculatePaths()"></app-type>
        }
    </div>
    }

    <div class="action-buttons">
        <button class="use-type-btn" mat-raised-button (click)="logData()">Log data</button>
        <button class="use-type-btn" mat-raised-button (click)="openSettings()">Settings</button>
        <button class="use-type-btn" mat-raised-button (click)="useType()">+ Use existing type</button>
        <button class="add-type-btn" mat-raised-button (click)="addNewType()">+ Add new type</button>
    </div>
</div>